/*Body width modified to fit standard 1200px width grid. Height modified to ensure even height of enclosed divs, based on window size.  */
body, html {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    font-family: sans-serif;
}

.backgroundImg {
    background: white url("../img/logo.png") no-repeat center;
    position: fixed;
    z-index: -2;

    display: block;
    width: 100%;
    height: 1080px;
    max-height: 100%;
}

main {
    margin-top: 50px;
    height: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    color: white;
    margin: 0;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    width: 100%;
    color: white;
    margin: 0;
    padding-top: 20px;
}

nav {
    text-align: center;
}

nav a {
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bolder;
}

nav a:link {
    color: rgba(73, 0, 145, 1);
}

nav a:visited {
    color: rgba(73, 0, 145, 1);
}

nav a:hover {
    color: red;
}

nav a:active {
    color: red;
}

.navbreak {
    display: none;
}

/*titlebar encloses the main title header and the navbar, placing them at a fixed position at the top of the screen.*/
.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    color: rgba(73, 0, 145, 1);
    background: white;
    z-index: 9999;
}


/*Various sections split into boxes of height and width equal to the body height and width.*/
.section {
    height: calc(100% - 30px);
    width: 100%;
}

/*Anchor for the navigation on the page.*/
.anchor {
    float: left;
    margin-top: -40px;
    padding-top: 40px;
    display: hidden;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

/*First box. Should include logo, product image, product name, and perhaps a short tagline about the product.*/
.mainTitle {
    background-color: rgba(255, 255, 255, 0);
}

/*Suggest using this section for a combination of slides that demonstrate and explain the purpose and functionality of the application.*/
.productSlides {
    background-color: rgba(64, 0, 127, 1);
    overflow: hidden;
}

.slider {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

/*Image slider css for the preview image slider in the preview section.*/
.sliderImg {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 300%;
    z-index: 1;
}

.sliderImg img {
    position: relative;
    top: 0;
    left: -33.3333%;
    display: inline-block;
    /*height: 100%;*/
    width: 33%;
    z-index: 2;
}

.slideBtn {
    -moz-box-shadow:inset 0px 34px 0px -15px rgba(103, 0, 255, 1);
	-webkit-box-shadow:inset 0px 34px 0px -15px rgba(103, 0, 255, 1);
	box-shadow:inset 0px 34px 0px -15px rgba(103, 0, 255, 1);
	background-color:rgba(90, 0, 200, 1);
	border:1px solid #241d13;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
    position: absolute;
    z-index: 3;
    top: 25px;
}

.slideBtn:hover {
    background-color: rgba(103, 0, 255, 1);
}

.slideBtn:focus {
    outline: 0;
}

.prevBtn {
    left: 7px;
}

.nextBtn {
    right: 7px;
}

/*This section for the download links and information about the application.*/
.downloads {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.downloads p, .downloads h2 {
    color: black;
}

.downloads img {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    display: inline-block;
    /*height: 100%;*/
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 80%;
    vertical-align: middle;
}

.downloads img.appstore {
    width: 200px;
}

/*This section for contact information, contact links, and other forms of social links.*/
.contact {
    background-color: rgba(32, 0, 64, 1);
}

.contact p {
    padding-top: 20px;
}

.contact img {
    margin: auto;
    margin-top: 20px;
    display: block;
    /*height: 100%;*/
    width: 35%;
}

/*This css is holding the place of whatever elements should be inside the various divs in the website. As the divs are filled in, custom classes may be more reasonable, or change the name of this class to avoid confusion post-release.*/
.sectionText {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}


/*Media Queries*/
@media screen and (max-width: 768px) {

    .titlebar {
        padding-top: 5px;
        height: 30px;
    }

    .downloads img {
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 70%;
        vertical-align: middle;
    }

    .downloads img.appstore {
        width: 200px;
    }

    .sectionText {
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        vertical-align: middle;
    }

    .backgroundImg {
        background: white url("../img/vertbg.png") no-repeat center;
        position: fixed;
        top: 30px;
        z-index: -2;

        display: block;
        width: 100%;
        height: 1080px;
        max-height: 100%;
        background-size: contain;
    }

    nav {
        text-align: center;
    }

    nav a {
        font-size: 1.25em;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        font-weight: bolder;
    }

    nav a:first-child {
        padding-left: 5px;
    }

    nav a:last-child {
        padding-right: 5px;
    }

    .anchor {
        margin-top: -35px;
        padding-top: 35px;
    }

    .sliderImg {
        padding-top: 100px;
    }

    .slideBtn {
        margin-top: 100px;
    }
}

@media screen and (max-width: 414px) {

    .titlebar {
        padding-top: 8px;
        height: 30px;
    }

    .downloads img {
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 60%;
        vertical-align: middle;
    }

    .downloads img.appstore {
        width: 200px;
    }

    .sectionText {
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        vertical-align: middle;
    }

    nav {
        text-align: center;
    }

    nav a {
        font-size: 1em;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none;
        font-weight: bolder;
    }

    nav a:first-child {
        padding-left: 3px;
    }

    nav a:last-child {
        padding-right: 3px;
    }
}
