import contentslider.css

body, html {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.trapezoid {
	border-top: 500px solid red;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	width: 50%;
    min-width: 0;
    position: absolute;
}

.trapezoidText {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

svg{
  overflow:visible;  position:absolute;
  left:50%;top:50%;  transform: translate(-50%,-50%);
}
